[submodule "Api/services/auth-service"]
	path = Api/services/auth-service
	url = git@github.com:PepeCodeHub/auth-service.git
[submodule "Databases/PostgreSQL"]
	path = Databases/PostgreSQL
	url = git@github.com:PepeCodeHub/PostgreSQL-docker.git
[submodule "Databases/MongoDB"]
	path = Databases/MongoDB
	url = git@github.com:PepeCodeHub/MongoDB-docker.git
[submodule "Databases/Redis"]
	path = Databases/Redis
	url = git@github.com:PepeCodeHub/Redis-docker.git
[submodule "MessageBrokers/RabbitMQ"]
	path = MessageBrokers/RabbitMQ
	url = git@github.com:PepeCodeHub/RabbitMQ-docker.git
[submodule "Api/gateway"]
	path = Api/gateway
	url = git@github.com:PepeCodeHub/gateway.git
[submodule "Clients/web"]
	path = Clients/web
	url = git@github.com:PepeCodeHub/web.git
[submodule "Clients/iOS"]
	path = Clients/iOS
	url = git@github.com:PepeCodeHub/iOS.git
[submodule "Clients/CRM"]
	path = Clients/CRM
	url = git@github.com:PepeCodeHub/CRM.git