[submodule "Api/services/auth-service"]
	path = Api/services/auth-service
	url = git@github.com:PepeCodeHub/auth-service.git
[submodule "Api/gateway"]
	path = Api/gateway
	url = git@github.com:PepeCodeHub/gateway.git
[submodule "Clients/Web"]
	path = Clients/Web
	url = git@github.com:PepeCodeHub/Web.git
[submodule "Clients/iOS"]
	path = Clients/iOS
	url = git@github.com:PepeCodeHub/iOS.git
[submodule "Clients/CRM"]
	path = Clients/CRM
	url = git@github.com:PepeCodeHub/CRM.git
[submodule "Infrastructure/PostgreSQL"]
	path = Infrastructure/PostgreSQL
	url = git@github.com:PepeCodeHub/PostgreSQL-docker.git
[submodule "Infrastructure/MongoDB"]
	path = Infrastructure/MongoDB
	url = git@github.com:PepeCodeHub/MongoDB-docker.git
[submodule "Infrastructure/Redis"]
	path = Infrastructure/Redis
	url = git@github.com:PepeCodeHub/Redis-docker.git
[submodule "Infrastructure/RabbitMQ"]
	path = Infrastructure/RabbitMQ
	url = git@github.com:PepeCodeHub/RabbitMQ-docker.git
